/* \\\\\\\\\\\Общие стили\\\\\\\\\\\ */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #302c42;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1272px;
  padding: 0 15px;
}

dd,
dt {
  margin: 0;
}

.main-content {
  /* overflow-x: clip; */
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

/* \\\\\\\\\\\Общие стили\\\\\\\\\\\ */

/* <!-- ~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~ --> */

/* секція хедера */
.hydra-header {
  padding: 50px 0 90px 0;
  overflow-x: clip;
  width: 100%;
	background-image: url(/images/Vector\ 1.png), url(/images/Vector\ 2.png), url(/images/Vector\ 3.png), url(/images/Vector\ 4.png);
	background-size: auto, auto, auto, auto;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 100% 50%, 84% 0%, 100% 65%, 0% 56%;
}

/* весь контент в секції */
.hydra-header-inner {
  display: flex;
  flex-direction: column;
}

/* навігація */
.hydra-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.hydra-logo {
  display: flex;
  gap: 5px;
  flex-shrink: 0;
  align-items: center;
}

.header-logo1 {
  fill: url(#paint0_linear_1_5);
  width: 103px;
  height: 103px;
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 300ms;
}

.header-logo1:hover {
  fill: #72c9ff;
}

.header-logo2 {
  fill: url(#paint0_linear_1_5);
  width: 76px;
  height: 46px;
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 300ms;
}

.header-logo2:hover {
  fill: #72c9ff;
}

/* список в навігації */
.hydra-nav-inner {
  display: flex;
  gap: 20px;
}

.hydra-nav-inner-item {
  flex-shrink: 0;
}

.nav-item__href {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  transition-property: color, font-weight;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.nav-item__href:hover {
	color:#72c9ff;
	font-weight: 900;
}

/* Navigation */


/* '''''''''''''''Buttons'''''''''''''' */
.hydra-nav-buttons {
  display: flex;
  align-items: center;
  gap: 38px;
  position: sticky;
  top:0;
}

/* //////додатковий селектор для розміру/////// */
.button-for-header {
	flex-shrink: 0;
	width: calc((102% - 38px) / 2);
  }

/* """""""""""""""""""перша кнопка""""""""""""""""""""" */
.hydra-nav-button1 {
	border: 2px solid #fff;
	border-radius: 40px;
	padding: 17px 34px;
	cursor: pointer;
	transition-property: background-image, padding;
	transition-timing-function: linear;
	transition-duration: 300ms; /* час */
	  transition-delay: 0ms;     /* затримка */
  }
  
  .hydra-nav-button1:hover {
	  padding: 18px 35px;
	  background-image: linear-gradient(90deg, #685e8e 0%, #8e87ac 100%);
  }
  
  .hydra-nav-button__href1 {
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	transition-property: color;
	transition-timing-function: linear;
	transition-duration: 200ms;
  }
  
  .hydra-nav-button__href1:hover{
	  color: #343045;
  }
  
  
  
  /* """""""""""""""""""друга кнопка""""""""""""""""""""" */
  .hydra-nav-button {
	  border: 2px solid #fff;
	  border-radius: 40px;
	  padding: 17px 34px;
	  cursor: pointer;
	  transition-property: background-image, padding;
	  transition-duration: 300ms;
	  transition-timing-function: linear;
	  transition-delay: 0ms;
	}
	
	.hydra-nav-button:hover {
		padding: 18px 35px;
		background-image: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
	}
  
  .hydra-nav-button__href {
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	transition-property: color;
	transition-timing-function: linear;
	transition-duration: 200ms;
  }
  
  .hydra-nav-button__href:hover {
	  color: #343045;
  }
  /* """""""""""""""""""друга кнопка""""""""""""""""""""" */

/* '''''''''''''''Buttons'''''''''''''' */




/* ~~~~~~~~~~header-bottom~~~~~~~~~ */

/* /////////header-bottom-left//////// */
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 142px;
}

.header-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hydra__title {
  font-weight: 700;
  font-size: 46px;
  background: linear-gradient(156deg);
  color: #fff;
  max-width: 456px;
  margin-bottom: 36px;
}

.h1-span {
  color: linear-gradient(156deg, grey, white); /*  ????? */
  background-clip: text;
}

.header-bottom-left__text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  max-width: 450px;
  margin-bottom: 38px;
}

.bottom-batton {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}

.header-left__button {
  border-radius: 40px;
  padding: 16px 40px;
  background-image: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  font-weight: 700;
  font-size: 12px;
  color: #343045;
  cursor: pointer;
  transition-timing-function: linear;
  transition-property: background-image;
  transition-duration: 400ms;

}

.header-left__button:hover{
	background-image: linear-gradient(90deg, #a594e6 0%, #e3ddfe 100%);
}


.arrow {
  width: 100px;
  height: 100px;
  stroke: #c0b7e8;
  transition-property: padding, stroke, transform;
  transition-timing-function:linear;
  transition-duration: 600ms;
  transition-delay: 0s;
}

.arrow:hover {
  padding-left: 10px;
  stroke: #00a3f5;
  transform: rotate(-180deg);
}

/* /////////header-bottom-left//////// */

/* /////////header-bottom-right//////// */

.header-bottom-right {
  width: 490px;
}

.header-bottom-right__img {
  max-width: 100%;
}

/* /////////header-bottom-right//////// */

.hydra-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 103px;
  border-radius: 90px;
  box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
  background: radial-gradient(
    2900.76% 50.13% at 50% 53.89%,
    rgb(58, 52, 86) 0%,
    rgb(33, 30, 46) 100%
  );
  padding: 3px 80px 3px 39px;
  transition: background-image 300ms linear 0s;
}

.hydra-address-inner {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hydra-address:hover {
	background-image: radial-gradient(
    2900.76% 50.13% at 50% 53.89%,
    rgb(54, 47, 86) 0%,
    rgb(31, 26, 53) 100%
  );
}

.hydra-address-map-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 2px solid rgba(192, 183, 232, 0.33);
  padding-right: 42.5px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hydra-address-map-list2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 2px solid rgba(192, 183, 232, 0.33);
  padding-right: 60px;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
}

.hydra-address-map-list1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-map-list-item1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.map-list-item2__href {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

/* <!-- ~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~ --> */

/* <!-- ~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~ --> */

.hydra-footer {
	background: url(/images/footer-line-baground2.png), url(/images/footer-line-baground1.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 50% 28%, 50% -115%;
	background-size: auto, auto;
}

.hydra-footer-inner {
  display: flex;
  flex-direction: column;
  padding-top: 122px;
  padding-bottom: 59px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 73px;
}

.logo-footer {
  max-width: 100%;
  flex-shrink: 0;
}

.line-for-footter {
  max-height: 100%;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-self: self-start;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.footer-list-item {
  flex-shrink: 0;
}

.footer-list-item__href {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.hydra-socials {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.socials-text {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-bottom: 39px;
}

.social-icon-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin-bottom: 26px;
}

/* .icon-list-item {
	display: flex;
}

.icon-list-item__href {
	display: flex;
} */

.icon-socials {
  display: flex;
  width: 32px;
  height: 32px;
  fill: #c0b7e8;
}

.icon-socials:hover {
  fill: #ed1818;
}

.footer-bottom {
  margin: 49px auto 0 auto;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.13em;
  color: #fff;
}
/* <!-- ~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~ --> */

/* <!-- ~~~~~~~~~~~~~~~~~Main~~~~~~~~~~~~~~~~~~ --> */
/* <!-- //////////introduction////////// --> */
/* <!-- ///////////why build////////// --> */
.introduction-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introduction-inner-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 500px;
  position: relative;
  flex-shrink: 0;
}

.introduction-arrow {
  position: absolute;
  left: 284px;
  top: 24px;
  width: 100px;
  height: 100px;
  stroke: #c0b7e8;
  transition: left 0.3s linear;
}

.introduction-arrow:hover {
  left: 295px;
  stroke: #f25454;
}

.introduction__title {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}

.introduction-bottom__text {
  font-weight: 300;
  font-size: 36px;
  color: #fff;
}

.introduction__text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  max-width: 652px;
}

/* <!-- //////////ABOUT////////// --> */
.hydra-about {
  padding-top: 69px;
  padding-bottom: 111px;
	background-image: url(/images/Vector\ 8.png), url(/images/Vector\ 7.png);
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
	background-position: 50% 68%, 50% 15%;
}
.about-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.about__img {
  max-width: 100%;
}

.about-inner-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-inner-title {
  gap: 5px;
  margin-bottom: 42px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}

.about-bottom__text {
  font-weight: 300;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.95);
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  max-width: 630px;
  margin-bottom: 28px;
}

.about__lets-get {
  padding: 17px 47px 16px 39px;
  font-weight: 700;
  font-size: 12px;
  color: #343045;
  border-radius: 40px;
  width: 214px;
  height: 48px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
/* <!-- //////////ABOUT////////// --> */

/* <!-- ///////////////services//////////////// --> */

.services {
  padding-top: 102px;
  width: 100%;
  overflow-x: auto;
}

.services-inner {
  display: flex;
  align-items: center;
  gap: 11px;
}

.services__title--hiddeen {
  display: none;
}

.services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  padding: 0;
  margin: 0;
  overflow: auto;
  max-width: 100%;
}

.services-list-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  background-image: radial-gradient(rgb(51, 45, 67), rgb(26, 24, 40));
  padding: 37.44px 35px 40px 25px;
  width: calc((100% - 33px) / 4);
}

.services-list-cart__img {
  max-width: 191px;
  margin-bottom: 34.74px;
}

.services__title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  padding-bottom: 17.5px;
  border-bottom: 1px solid rgba(192, 183, 232, 0.33);
  margin-bottom: 21.5px;
  flex-shrink: 0;
}

.services__text {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  margin-bottom: 35px;
}

.services__button {
  border-radius: 40px;
  width: 154px;
  height: 48px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  font-weight: 700;
  font-size: 12px;
  color: #343045;
  cursor: pointer;
}

.services-button-left {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services-button-right {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 800px) {
  .container {
    max-width: 770px;
    padding: 0 15px;
  }

  .services {
    padding-bottom: 120px;
  }

  .services-list {
    position: relative;
  }

  .services-button-left {
    display: flex;
    position: absolute;
    left: 334px;
    top: -54px;
    background-color: #554f74;
    border-radius: 30px;
    padding: 5px 5px;
  }
  .services-button-right {
    display: flex;
    position: absolute;
    left: 418px;
    top: -54px;
    background-color: #554f74;
    border-radius: 30px;
    padding: 5px 5px;
  }
}
